<h1>Crud Demo</h1>

<div class="container md-5">
  <table class="table table-bordered">
    <thead>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td> {{user.id}} </td>
        <td> {{user.name}} </td>
        <td> {{user.email}} </td>
        <td> {{user.phone}} </td>
        <td>
          <span class="text-primary" (click)="removeUser(user.id)" >Delete</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="bg-dark" (click)="addUser()" >Add User</button>
  <button>Update User</button>
</div>
<router-outlet></router-outlet>
